In [1]:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup
import math

In [2]:
company = []
processer = []
ram = []
os = []
ssd = []
hdd = []
ssize = []
Ms = []
price = []
ignore=[]
for i in range(1,41):
    data = requests.get(f'https://www.flipkart.com/search?q=laptops&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&as-pos=1&as-type=HISTORY&page={i}')
    soup = BeautifulSoup(data.content,'html')
    # Extracting the product(laptop) name
    a = soup.find_all('div',attrs={
        'class':'_4rR01T'
    })
    for i in a:
        a = i.text
        b = a.split()
        c = b[0]
        company.append(c)
    d = soup.find_all('li',attrs={
        'class':'rgWa7D'
    })
    for i in d:
        e = i.text
        f = e.split()
        if 'RAM' and 'SSD' and 'Storage' in f:
            ignore.append(f)
        elif 'Display' and 'nits' in f:
            ignore.append(f)
        elif f.count('Processor') == 1:
            os.append(f[0])
            processer.append(f[1]+' '+f[2])
        elif f.count('RAM') == 1 and f.count('GB'):
            ram.append(f[0])
        elif f.count('Display') == 1 and f.count('cm') == 1:
            ssize.append(f[0])
            
    g = soup.find_all('li',attrs={
        'class':'rgWa7D'
    })
    for i in g:
        h = i.text
        j = h.split()
        if 'RAM' and 'SSD'and 'Storage' in j:
            ignore.append(j)
        elif j.count('HDD') == 0 and j.count('SSD')==1:
            ssd.append(j[j.index('SSD')-2]+j[j.index('SSD')-1])
            hdd.append(0)
        elif j.count('HDD') == 1 and j.count('SSD')==1:
            hdd.append(j[j.index('HDD')-2]+j[j.index('HDD')-1])
            ssd.append(j[j.index('SSD')-2]+j[j.index('SSD')-1])
        elif j.count('HDD') == 1 and j.count('SDD')==0:
            hdd.append(j[j.index('HDD')-2]+j[j.index('HDD')-1])
            ssd.append(0)
                       
    n = soup.find_all('div',attrs={
        'class':'fMghEO'
    })
    for i in n:
        o = i.text
        if 'Office' in o:
            Ms.append('Yes')
        else:
            Ms.append('No')
    k = soup.find_all('div',attrs={
        'class':'_30jeq3 _1_WHN1'
    })
    for i in k:
        q = i.text
        r = q.replace('₹', '')
        s = q.replace(',','')
        price.append(s)

In [3]:
pl = ['Athlon Dual','Celeron Dual','Celeron Quad','Core i3','Core i5','Core i7','Core i9','M1 Max','M1 Pro','M1 Processor'
     ,'M2 Max','M2 Pro','M2 Processor','MediaTek Kompanio','MediaTek MT8788','Pentium Quad','Pentium Silver','Ryzen 3',
     'Ryzen 5','Ryzen 7','Ryzen 9']
processer_m = []
for i in processer:
    if i in pl:
        processer_m.append(i)

In [4]:
ram_m = []
for i in ram:
    if (i.isdigit()):
        ram_m.append(int(i))

In [5]:
os_m = []
standard = ['Intel','AMD','Apple','MediaTek']
for i in os:
    if i in standard:
        os_m.append(i)

In [6]:
hdd_m = []
for i in hdd:
    if i=='1TB':
        hdd_m.append(int(1024))
    elif i=='500GB':
        hdd_m.append(int(516))
    else:
        hdd_m.append(0)

In [7]:
ssd_m = []
for i in ssd:
    i = str(i)
    if '128GB' in i:
        ssd_m.append(int(128))
    elif '256GB' in i:
        ssd_m.append(int(256))
    elif '512GB' in i:
        ssd_m.append(int(512))
    elif '1TB' in i:
        ssd_m.append(int(1024))
    elif '2TB' in i:
        ssd_m.append(int(2000))
    elif '4TB' in i:
        ssd_m.append(int(4000))

In [8]:
price_m = []
for i in price:
    z = i[1:]
    price_m.append(int(z))

In [9]:
ran = 900
company = company[:ran]
processer_m = processer_m[:ran]
ram_m = ram_m[:ran]
os_m = os_m[:ran]
hdd_m = hdd_m[:ran]
ssd_m = ssd_m[:ran]
ssize_m = ssize[:ran]
Ms = Ms[:ran]
price_m = price_m[:ran]

In [10]:
print(len(company))
print(len(processer_m))
print(len(ram_m))
print(len(os_m))
print(len(hdd_m))
print(len(ssd_m))
print(len(ssize))
print(len(Ms))
print(len(price_m))

900
900
900
900
900
900
960
900
900

In [11]:
data = {
    'Company':company,
    'Processor':processer_m,
    'RAM' : ram_m,
    'OperatingSystem':os_m,
    'HDD':hdd_m,
    'SSD': ssd_m,
    'ScreenSize':ssize_m,
    'Ms Office':Ms,
    'Price':price_m
}

In [12]:
df = pd.DataFrame(data)
df

,Company,Processor,RAM,OperatingSystem,HDD,SSD,ScreenSize,Ms Office,Price
0,Lenovo,Core i3,8,Intel,0,512,39.62,Yes,38331
1,DELL,Core i3,8,Intel,0,256,39.62,No,38990
2,ASUS,Core i3,8,Intel,0,256,39.62,No,35990
3,ASUS,Celeron Dual,4,Intel,0,512,35.56,No,21990
4,ASUS,Core i5,8,Intel,0,256,39.62,No,45990
...,...,...,...,...,...,...,...,...,...
895,DELL,Core i3,8,Intel,0,256,39.62,No,38990
896,ASUS,Core i5,16,Intel,0,256,33.78,No,109990
897,SAMSUNG,Core i5,8,Intel,0,1024,39.62,No,56990
898,DELL,Core i3,4,Intel,1024,512,38.1,Yes,37490
899,Lenovo,Core i3,8,Intel,0,512,35.56,Yes,33990

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900 entries, 0 to 899
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Company          900 non-null    object
 1   Processor        900 non-null    object
 2   RAM              900 non-null    int64
 3   OperatingSystem  900 non-null    object
 4   HDD              900 non-null    int64
 5   SSD              900 non-null    int64
 6   ScreenSize       900 non-null    object
 7   Ms Office        900 non-null    object
 8   Price            900 non-null    int64
dtypes: int64(4), object(5)
memory usage: 63.4+ KB

In [14]:
df.corr()['Price']

RAM      0.770102
HDD     -0.001712
SSD      0.151560
Price    1.000000
Name: Price, dtype: float64

In [15]:
df['Company'].value_counts()

Lenovo       260
ASUS         190
DELL         180
HP           104
MSI           42
APPLE         40
acer          33
Infinix       18
SAMSUNG        8
GIGABYTE       7
ALIENWARE      4
Avita          4
realme         3
RedmiBook      2
Vaio           2
Primebook      2
MICROSOFT      1
Name: Company, dtype: int64

In [16]:
def add_company(inpt):
    if inpt == 'Lenovo' or inpt == 'ASUS' or inpt == 'HP' or inpt == 'DELL'or inpt == 'acer'or inpt == 'MSI'or inpt == 'APPLE':
        return inpt
    else:
        return 'other'

In [17]:
df['Company'] = df['Company'].apply(add_company)

In [18]:
df['Company'].value_counts()

Lenovo    260
ASUS      190
DELL      180
HP        104
other      51
MSI        42
APPLE      40
acer       33
Name: Company, dtype: int64

In [19]:
df.head(-10)

,Company,Processor,RAM,OperatingSystem,HDD,SSD,ScreenSize,Ms Office,Price
0,Lenovo,Core i3,8,Intel,0,512,39.62,Yes,38331
1,DELL,Core i3,8,Intel,0,256,39.62,No,38990
2,ASUS,Core i3,8,Intel,0,256,39.62,No,35990
3,ASUS,Celeron Dual,4,Intel,0,512,35.56,No,21990
4,ASUS,Core i5,8,Intel,0,256,39.62,No,45990
...,...,...,...,...,...,...,...,...,...
885,Lenovo,Core i5,8,Intel,0,256,39.62,No,49490
886,Lenovo,Celeron Dual,4,Intel,0,512,35.56,No,28490
887,Lenovo,Core i5,8,Intel,0,256,39.62,No,50990
888,DELL,Core i5,8,Intel,0,256,39.62,No,59790
889,HP,Core i5,16,Intel,0,1024,35.56,Yes,69490

In [20]:
df['Ms Office'] = df['Ms Office'].apply(lambda x:1 if x=='Yes' else 0)

In [21]:
df.head(2)

,Company,Processor,RAM,OperatingSystem,HDD,SSD,ScreenSize,Ms Office,Price
0,Lenovo,Core i3,8,Intel,0,512,39.62,1,38331
1,DELL,Core i3,8,Intel,0,256,39.62,0,38990

In [22]:
df['Processor'].value_counts()

Core i5              229
Core i3              202
Ryzen 5              152
Ryzen 7               88
Core i7               87
Ryzen 3               29
Core i9               21
Ryzen 9               20
Celeron Dual          16
M2 Processor          12
M1 Processor          11
M2 Pro                 6
Celeron Quad           6
Pentium Quad           6
M1 Pro                 5
M2 Max                 4
Athlon Dual            2
MediaTek MT8788        2
MediaTek Kompanio      1
M1 Max                 1
Name: Processor, dtype: int64

In [23]:
def process(inpt):
    if inpt == 'M1 Max' or inpt == 'M1 Pro' or inpt == 'M2 Max' or inpt == 'M2 Pro' or inpt == 'M1 Processor' or inpt == 'M2 Processor' or inpt == 'Core i3' or inpt == 'Core i5' or inpt == 'Core i7' or inpt == 'Core i9' or inpt == 'Ryzen 3' or inpt == 'Ryzen 5' or inpt == 'Ryzen 7' or inpt == 'Ryzen 9':
        return inpt
    else:
        return 'other'

In [24]:
df['Processor'] = df['Processor'].apply(process)

In [25]:
df['Processor'].value_counts()

Core i5         229
Core i3         202
Ryzen 5         152
Ryzen 7          88
Core i7          87
other            33
Ryzen 3          29
Core i9          21
Ryzen 9          20
M2 Processor     12
M1 Processor     11
M2 Pro            6
M1 Pro            5
M2 Max            4
M1 Max            1
Name: Processor, dtype: int64

In [26]:
df['ScreenSize'].value_counts()

39.62     469
35.56     199
40.64      83
33.78      37
40.89      21
43.94      18
96.52      13
38.1       10
34.54       9
29.46       8
34.04       7
41.15       5
35.81       5
38.0        4
88.9        2
36.07       2
103.23      1
34.29       1
36.83       1
42.16       1
100.63      1
43.18       1
45.72       1
33.02       1
Name: ScreenSize, dtype: int64

In [27]:
def size(p):
    i = float(p)
    inpt = math.ceil(i)
    if inpt>28 and inpt<=33:
        return 12
    elif inpt>33 and inpt<=37:
        return 14
    elif inpt>37 and inpt<=40:
        return 15
    elif inpt>40 and inpt<=45 :
        return 17
    else:
        return 24

In [28]:
df['ScreenSize'] = df['ScreenSize'].apply(size)

In [29]:
df['ScreenSize'].value_counts()

15    483
14    262
17    129
24     18
12      8
Name: ScreenSize, dtype: int64

In [30]:
df.to_csv('lap3.csv')

In [31]:
df.corr()['Price']

RAM           0.770102
HDD          -0.001712
SSD           0.151560
ScreenSize    0.226494
Ms Office    -0.192782
Price         1.000000
Name: Price, dtype: float64

In [32]:
data = pd.get_dummies(df)

In [33]:
data

,RAM,HDD,SSD,ScreenSize,Ms Office,Price,Company_APPLE,Company_ASUS,Company_DELL,Company_HP,...,Processor_M2 Processor,Processor_Ryzen 3,Processor_Ryzen 5,Processor_Ryzen 7,Processor_Ryzen 9,Processor_other,OperatingSystem_AMD,OperatingSystem_Apple,OperatingSystem_Intel,OperatingSystem_MediaTek
0,8,0,512,15,1,38331,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,8,0,256,15,0,38990,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
2,8,0,256,15,0,35990,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
3,4,0,512,14,0,21990,0,1,0,0,...,0,0,0,0,0,1,0,0,1,0
4,8,0,256,15,0,45990,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
895,8,0,256,15,0,38990,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
896,16,0,256,14,0,109990,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
897,8,0,1024,15,0,56990,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
898,4,1024,512,15,1,37490,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
899,8,0,512,14,1,33990,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [34]:
data.shape

(900, 33)

# Model Selection and Building

In [35]:
import sklearn

In [36]:
X = data.drop('Price', axis=1)
y = data['Price']

In [37]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25)

In [38]:
X_train.shape, X_test.shape

((675, 32), (225, 32))

In [39]:
def model_acc(model):
    model.fit(X_train, y_train)
    acc = model.score(X_test, y_test)
    print(str(model)+ ' --> ' +str(acc))

In [40]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
model_acc(lr)

from sklearn.linear_model import Lasso
lasso = Lasso()
model_acc(lasso)

from sklearn.tree import DecisionTreeRegressor
dt = DecisionTreeRegressor()
model_acc(dt)

from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor()
model_acc(rf)

LinearRegression() --> 0.8326859916015101
Lasso() --> 0.8326703611819888
DecisionTreeRegressor() --> 0.6607392349350474

D:\anaconda\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:647: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.296e+10, tolerance: 2.678e+08
  model = cd_fast.enet_coordinate_descent(

RandomForestRegressor() --> 0.7968146816784323

## Hyper parameter tunning

In [41]:
from sklearn.model_selection import GridSearchCV

parameters = {'n_estimators':[10, 50, 100],
              'criterion':['squared_error','absolute_error','poisson']}

grid_obj = GridSearchCV(estimator=rf, param_grid=parameters)

grid_fit = grid_obj.fit(X_train, y_train)

best_model = grid_fit.best_estimator_

best_model.score(X_test, y_test)

0.8118146488412238

In [42]:
X_test.columns

Index(['RAM', 'HDD', 'SSD', 'ScreenSize', 'Ms Office', 'Company_APPLE',
       'Company_ASUS', 'Company_DELL', 'Company_HP', 'Company_Lenovo',
       'Company_MSI', 'Company_acer', 'Company_other', 'Processor_Core i3',
       'Processor_Core i5', 'Processor_Core i7', 'Processor_Core i9',
       'Processor_M1 Max', 'Processor_M1 Pro', 'Processor_M1 Processor',
       'Processor_M2 Max', 'Processor_M2 Pro', 'Processor_M2 Processor',
       'Processor_Ryzen 3', 'Processor_Ryzen 5', 'Processor_Ryzen 7',
       'Processor_Ryzen 9', 'Processor_other', 'OperatingSystem_AMD',
       'OperatingSystem_Apple', 'OperatingSystem_Intel',
       'OperatingSystem_MediaTek'],
      dtype='object')

# Save model

In [43]:
import pickle
with open('predictor.pickle', 'wb') as file:
    pickle.dump(best_model, file)

In [44]:
pred_value = best_model.predict([[8,1024,256,15,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1]])
pred_value

D:\anaconda\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

array([58748.42])